@import 'tailwindcss';

.font-doto {
  font-family: 'Doto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 'ROND' 100;
}

.font-inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.font-inter-tight {
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
